.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-footer {
  margin-top: auto;
}

input[type="submit"].button-primary,
input[type="submit"].button-primary:focus {
  background-color: #647dfe;
  border-color: #647dfe;
}

input[type="submit"].button-primary:hover {
  background-color: #314acb;
  border-color: #314acb;
}

select:focus {
  border-color: #647dfe;
}
